
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway|Raleway+Dots|Abril+Fatface|');

@import url('https://fonts.googleapis.com/css?family=Cabin|Monoton|Paytone+One|Aldrich|Cabin+Sketch');
  /* font-family: 'Montserrat', sans-serif; */

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
  }

body {
  margin: 0 auto;
  font-family: 'Raleway', cursive;
  font-size: extra-light;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}
/* Navigation */
nav {
  display: flex;
  background-color: #FF5D73;
}

div.nav_margin {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', cursive;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0px 1vw;
  padding: 10px 3vw;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.pullUpDown a:before, div.pullUpDown a:after
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before
{
    top: 0px;
}

div.pullUpDown a:after
{
    bottom: 0px;
}

div.pullUpDown a:hover:before, div.pullUpDown a:hover:after
{
    height: 100%;
}

/* CONTAINER */
div.container {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

/* Homepage */
body.home-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
}

div.home-page {
  margin: 0 10em;
}

div#canvas {
  width: windowWidth;
  height: windowHeight;
  margin: 0px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

span#home-He, span#home-llo {
  font-family: 'Abril Fatface', cursive;
  font-size: 14vw;
  color: #FF5D73;
}

div.hello {
  margin-top: 5vw;
  text-align: right;
  line-height: 7vw;
}

span#home-He {
  margin-right: 5vw;
}

span#home-llo {
  margin-bottom: 0;
}

div.home-name {
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
  font-weight: light;
  color: #42FC96;
  letter-spacing: 2px;
  line-height: 4vw;
}

#home-sherine {
  color: #42FC96;
}

span#home-web-dev {
  color: white;
  font-size: 2.5vw;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background: rgba(	66, 252, 150, 0.5);
  text-align: left;
}

span#home-cx-ux {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.bottom {
  display: inline-flex;
}

a#my-portfolio {
  color: white;
  font-size: 1.2vw;
  border: 1px solid white;
  border-radius: 80px;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0;
}

a#my-portfoli:hover {
  background-color: #FF5D73;
  color: #000;
}

.contact-icon-div {
  position: fixed;
  right: 11vw;
}

.contact-icon{
  width: 40px;
  padding-right: 2vw;
  opacity: 0.7;

}

.contact-icon:hover {
  opacity: 1;
}

/* WORK  */
#work-h1 {
  font-family: 'Monoton', cursive;
  /* font-size: 4vw !important; */
  /* font-family: 'Abril Fatface', cursive; */
  font-size: 40px;
  color: #42FC96;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: #FF5D73;
  font-size: 3vw;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce2 {
  animation-name: bounce;
}

#ux-projects{
  margin-top: 10vw;
}

.wrapper {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-column-gap: 3em;
  margin-top: 3em;
}

.project-pic {
  width: 40vw;
  height: 20vw;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 1vw;
  z-index: -1;
}

.pop-a{
  color: white;
}
h3 {
  font-family: 'Abril Fatface', cursive;
  color: #FF5D73;
  font-size: 40px;
  font-style: bold;
  font-weight: black !important;
  margin-bottom: 0.5em;
}

.popup-p-project {
  font-family: 'Montserrat', sans-serif;
  color: #2BC894;
  font-size: 1.3em;
  font-weight: bold;
}

.intro-div  {
  margin-bottom: 4em;
}

#intro-p {
  margin-top: 5em;
  line-height: 2em;
}

.modal-popup-box {
  /* background-color: #42FC96; */
  background-color: #fff;
  border: 5px solid #42FC96;
  padding: 0 1.5em 1em;
  border-radius: 10px;
  max-width: 50vw;
  color:#000;
}

.project-img-div{
  position:relative;
  /* text-align: center; */
}

.pop-a-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-demo {
  display: inline-flex;
}
.demo-icon {
  width: 4em !important;
  margin-top: 2em;
  position: fixed;
  right: 5vw;
}

.pop-a {
  background-color: white;
  opacity: 0;
  padding: 10vw 20vw 10vw;
}


.code {
  font-family: 'Inconsolata', monospace;
  display: inline !important;
  color: #000 !important;
  padding:0 !important; margin:0 !important;
}
.code:hover {
  color: #2BC894 !important;
}

.popup-li{
  margin: 8px 0;
}

.skill-icon {
  width: 50px;
  margin-right: 4%;
  margin-left: 4%;

}

.skill-icon-trivia {
  width: 80px;
  margin-right: 4%;
  margin-left: 4%;
}

.project-skills {
margin: 0 auto;
width: 90%;
}

.project-skills i {
  font-size: 320%;
  margin: 4%;
}

/* close-popup */
.popup-close{
  left: -8px !important;
  top: 5px;
  padding: 0px !important;
}

.popup-close {
  float: right;
  margin-top: -10px;
  margin-right: -16px;
  z-index: 30 !important;
  background-color: #b8b8b8;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  -webkit-transition: .2s all ease-out;
  -moz-transition: .2s all ease-out;
  transition: .2s all ease-out;
}
.popup-close:hover{
  background-color: #FF5D73;
  opacity: 0.8;
}
.cross {
  margin-left: 4px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  fill: #fff;
}
/* Izimodal */
/* .button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background:#fff;
  border:1px #333 solid;
  font-size:14px;
  color:#333;
}
a {
  font-size:14px;
  color:#333;
  text-decoration:none;
}
.close {
  text-align:right;
  padding: 10px;
}
p {
  padding: 20px;
  line-height:1.6;
} */
/* Izimodal end*/

.project-name {
  font-size: 2vw;
  color: #FF5D73;
  text-shadow: #FF5D73 2px 2px 10px;
}
/*
#a{
  font-size: 25px;
  color: #FF5D73;
  text-shadow: #FF5D73 2px 2px 10px;
}

#b {
  font-size: 25px;
  color: #42FC96;
  text-shadow: #42FC96 2px 2px 10px;
}

a#project-link span#a {
  display: inline;

}

a#project-link:hover span#a {
  display: none;
}

a#project-link span#b {
  display: none;
}

a#project-link:hover span#b {
  display: inline;

} */

/* ABOUT ME */
.wrapper-me-top {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 3em;
  margin-top: 1em;
  margin-bottom: -1em;

}

.contact-icon-aboutme-div {
  margin-top: 0;
  text-align: center;
  /* position: fixed; */
}

.contact-icon-aboutme{
  width: 40px;
  margin: 0 2vw;
  opacity: 0.7;
}

.contact-icon-aboutme:hover {
  opacity: 1;
}


.wrapper-me-skills {
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin-top: 3vw;
}


#what-me {
  margin-top: 21vw;
  color: #42FC96;
  text-align: left;
}
#what-me2 {
  margin-top: 21vw;
  color: #42FC96;
  text-align: right;

}

#my-name{
  font-family: 'Monoton', cursive;
  font-size: 4vw !important;
  /* color: #fff; */
  color: #FF5D73;
}


#profile_pic {
  border: 5px solid #FF5D73;
  max-width: 20vw;
  border-radius: 50%;
  margin-top: 3vw;
}

.scroll-icon{
  width: 3vw;
}
.scroll-icon2{
  width: 3vw;
}
.scroll-icon3{
  width: 3vw;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.intro{
  color: #42FC96;
}

.nested-skills-right {
  text-align: center;
}

hr {
  border: 1px solid #FF5D73;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: #42FC96;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
}

.wrapper-skillsset {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 3em;
}

#skills-ul li {
  list-style:none;
  margin: 20px;
  letter-spacing: 2px;
}

#adventure-h3 {
  margin-top: 5vw;
}

#adventure-p {
  font-size: 20px;
}

.ad-pic {
  width: 30vw;
  border-radius: 10px;
  border: 5px solid white;
  margin-bottom: 3vw;
}

.ad-pic2 {
  width: 20vw;
  border-radius: 10px;
  border: 5px solid white;
  margin-bottom: 3vw;
}

@media only screen and (max-width: 780px)   {
  .wrapper-me-skills {
    display: block;
    width: 100%;
  }
  .wrapper-skillsset{
    display: block;
    width: 100%;
  }

  .wrapper {
    display: block;
    width: 100%;
  }

  .project-pic {
    width: 80%;
    height: 40%;
    margin-top: 2em;
  }

  .project-name {
    font-size: 1.8em;
  }


}


/* responsive web */
@media only screen and (max-width: 600px)   {

  div.home-page {
    margin: 0 5em;
  }

  .container {
    width: 100%;
    margin: auto 0;
  }

  div.hello, div.home-name {
    width: 100%;
  }

  .home-text {
    font-size: 2em;
    display: block;
    margin-bottom: 0;
  }

  .my-profile-btn {
    display: none;
  }

  span#home-web-dev, span#home-cx-ux {
    font-size: 1.8em;
    line-height: 1em
  }
    span#home-web-dev {
      padding: 0.5em;
    }

  .botom {
    display: inline-flex;
  }

  /* work */

  .wrapper {
    display: block;
    width: 100%;
  }

  .project-pic {
    width: 80%;
    height: 40%;
    margin-top: 2em;
  }

  .project-name {
    font-size: 1.8em;
  }

  /* work pop-up */
  #popup-h3 {
    font-size: 2em;
  }

 /* .popup-demo {
   display: inline-flex;
 } */

  .demo-icon-long {
    margin-top: 6em;
  }

/* about me */

.wrapper-me-skills {
  display: block;
  width: 100%;
}

.nested-skillsset-title {
  margin-bottom: 0
}
.wrapper-skillsset{
  display: block;
  width: 100%;
}

.ad-pic {
  width: 80%;
}
.ad-pic2 {
  width: 90%;
}

}




/* @media only screen and (min-width: 500px)  {
   .wrapper-skillsset {
     display: grid;
       grid-template-column: 20% auto;
       grid-template-areas:
       "skill1 skill1"
       "skill2 skill2"
       "skill3 skill3"
   } */
