
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway|Raleway+Dots|Abril+Fatface|');
  /* font-family: 'Montserrat', sans-serif; */



body {
  margin: 0 auto;
  font-family: 'Raleway', cursive;
  font-size: extra-light;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}
/* Navigation */
nav {
  display: flex;
  background-color: #FF5D73;
}

div.nav_margin {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', cursive;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2em;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.pullUpDown a:before, div.pullUpDown a:after
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before
{
    top: 0px;
}

div.pullUpDown a:after
{
    bottom: 0px;
}

div.pullUpDown a:hover:before, div.pullUpDown a:hover:after
{
    height: 100%;
}

/* CONTAINER */
div.container {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

/* Homepage */
body.home-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
}

div.home-page {
  margin: 0 10em;
}

div#canvas {
  width: windowWidth;
  height: windowHeight;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

span#home-He, span#home-llo {
  font-family: 'Abril Fatface', cursive;
  font-size: 14vw;
  color: #FF5D73;
}

div.hello {
  margin-top: 5vw;
  text-align: right;
  line-height: 7vw;
  margin-bottom: 0;
}

span#home-He {
  margin-right: 5vw;
}

span#home-llo {
  margin-bottom: 0;
}

div.home-name {
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
  font-weight: light;
  color: #42FC96;
  letter-spacing: 2px;
  line-height: 4vw;
}

span#home-web-dev {
  color: white;
  font-size: 2.5vw;
  margin-top: 1em;
  padding: 0.2em 1em 0.2em 0.5em;
  background: rgba(	66, 252, 150, 0.5);
  text-align: left;
}

span#home-cx-ux {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.class-bottom {
  display: inline-flex;
}

a#my-portfolio {
  color: white;
  font-size: 1.2vw;
  border: 1px solid white;
  border-radius: 80px;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0;
}

.contact-icon{
  width: 30px;
  float: right;
  padding-left: 2vw;
  opacity: 0.5;
}

.contact-icon:hover {
  opacity: 1;

}

/* WORK  */
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 5vw;
  color: #42FC96;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: #FF5D73;
  font-size: 3vw;
}


hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid white;
  margin: 3vw 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-column-gap: 3em;
  margin-top: 3em;
}

.project-pic {
  width: 40vw;
  height: 20vw;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 1vw;
  z-index: -1;
}

.pop-a{
  color: white;
}
h3 {
  font-family: 'Abril Fatface', cursive;
  color: #FF5D73;
  font-size: 2vw;
  font-style: bold;
  font-weight: black !important;
}

.modal-popup-box {
  /* background-color: #42FC96; */
  background-color: #fff;
  border: 5px solid #42FC96;
  padding: 0 1.5em 1em;
  border-radius: 10px;
  max-width: 50vw;
  color:#000;
}

.project-img-div{
  position:relative;
  /* text-align: center; */
}

.pop-a-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-a {
  background-color: white;
  opacity: 0;
  padding: 10vw 20vw 10vw;
}


.code {
  font-family: 'Inconsolata', monospace;
  display: inline !important;
  color: #000 !important;
  padding:0 !important; margin:0 !important;
}
.code:hover {
  color: #42FC96 !important;
}


.popup-li{
  margin: 8px 0;
}
/* close-popup */
.popup-close{
  left: -8px !important;
  top: 5px;
  padding: 0px !important;
}

.popup-close {
  float: right;
  margin-top: -10px;
  margin-right: -16px;
  z-index: 30 !important;
  background-color: #b8b8b8;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  -webkit-transition: .2s all ease-out;
  -moz-transition: .2s all ease-out;
  transition: .2s all ease-out;
}
.popup-close:hover{
  background-color: #FF5D73;
  opacity: 0.8;
}
.cross {
  margin-left: 4px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  fill: #fff;
}
/* Izimodal */
/* .button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background:#fff;
  border:1px #333 solid;
  font-size:14px;
  color:#333;
}
a {
  font-size:14px;
  color:#333;
  text-decoration:none;
}
.close {
  text-align:right;
  padding: 10px;
}
p {
  padding: 20px;
  line-height:1.6;
} */
/* Izimodal end*/

.project-name {
  font-size: 1.5vw;
  color: #FF5D73;
  text-shadow: #FF5D73 2px 2px 10px;
}

#a{
  font-size: 1.5vw;
  color: #FF5D73;
  text-shadow: #FF5D73 2px 2px 10px;
}

#b {
  font-size: 1.5vw;
  color: #42FC96;
  text-shadow: #42FC96 2px 2px 10px;
}

a#project-link span#a {
  display: inline;

}

a#project-link:hover span#a {
  display: none;
}

a#project-link span#b {
  display: none;
}

a#project-link:hover span#b {
  display: inline;

}

/* ABOUT ME */

.wrapper-me-top {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 3em;
  margin-top: 3em;

}

.wrapper-me-bottom {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-column-gap: 3em;
  margin-top: 3em;
}

.wrapper-me-skills {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.wrapper-skillsset {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-column-gap: 3em;
}

#what-me {
  margin-top: 21vw;
  color: #42FC96;
  text-align: left;
}
#what-me2 {
  margin-top: 21vw;
  color: #42FC96;
  text-align: right;

}

#my-name{
  font-family: 'Monoton', cursive;
  font-size: 4vw !important;
  /* color: #fff; */
  color: #FF5D73;
}


img#profile_pic {
  border: 5px solid #FF5D73;
  max-width: 200px;
  border-radius: 50%;
  margin-top: 3vw;
}

.scroll-icon{
  width: 3vw;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.intro{
  color: #42FC96;
}

.nested-skills-right {
  text-align: center;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2vw;
  color: #42FC96;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
}

#skills-ul li {
  list-style:none;
}
